@mixin gradient-text($color1, $color2) {
  background: linear-gradient(60deg, $color1, $color2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  align-items: center;
  min-height: 600px;
  padding: 3rem 2rem;

  & > * {
    flex: 1 0 250px;
    height: clamp(250px, 60vh, 350px);
  }

  .about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    button {
      align-self: flex-start;
    }
  }

  .imageContainer {
    max-width: 400px;
    background-color: #a8ffe5;
    border-radius: 30% 70% 41% 59% / 30% 43% 57% 70% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
