@mixin gradient-text($color1, $color2) {
  background: linear-gradient(60deg, $color1, $color2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  align-items: center;
  min-height: 600px;
  padding: 3rem 2rem;

  & > * {
    flex: 1 0 250px;
    height: clamp(250px, 60vh, 350px);
  }

  .header {
    font-size: 1.7rem;
    line-height: 3rem;

    .name {
      font-size: 3rem;
      text-wrap: nowrap;
      @include gradient-text(turquoise, lime);
    }

    .role {
      font-size: 2rem;
      @include gradient-text(skyblue, mediumaquamarine);
    }
  }

  .about {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;

    button {
      align-self: flex-start;
    }
  }

  .imageContainer {
    background-color: #a8ffe5;
    border-radius: 40% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
