@mixin project-image() {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: top;
  border-radius: 5px;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 2rem 0;

  .projectList {
    display: grid;
    gap: 5rem;
    padding: 0 2rem;

    .project {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;
      min-height: 350px;

      // Flip every element with an even children index
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }

      .description {
        display: grid;
        gap: 1rem;
        flex: 1 0 250px;

        h3 {
          font-size: 1.5rem;
        }

        .buttonsContainer {
          display: flex;
          gap: 8px;
        }
      }

      .imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1.5 0 250px;

        .desktop {
          position: relative;
          height: 160px;
          width: clamp(250px, 100%, 320px);
          border-radius: 8px;
          background: linear-gradient(20deg, violet, salmon);
          border: 3px solid;

          img {
            @include project-image();
          }

          .mobile {
            height: 140px;
            width: 80px;
            border-radius: 8px;
            background: linear-gradient(20deg, skyblue, gold);

            position: absolute;
            right: -16px;
            bottom: -16px;
            border: 3px solid;

            img {
              @include project-image();
            }
          }
        }
      }
    }
  }

  .header {
    text-align: center;
  }
}

@media screen and (width >= 780px) {
  .desktop {
    height: 250px !important;
    width: 460px !important;

    .mobile {
      height: 230px !important;
      width: 130px !important;
    }
  }
}
