* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1100px;
  --border-radius: 6px;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  --fgcolor: #282828;
  --bgcolor: #f8f8f8;
  --accentcolor: #3a6b5a;
  --accentdarkcolor: #2e5648;

  &[data-theme-dark] {
    --fgcolor: #f8f8f8;
    --bgcolor: #282828;
    --accentcolor: #8affd8;
    --accentdarkcolor: #7bddbc;

    a {
      color: #00b6b6;
    }
  }

  a {
    color: #007a7a;
  }

  color: var(--fgcolor);
  background-color: var(--bgcolor);
  transition: background-color ease 0.5s, color ease 0.8s;
}

:where(h1, h2, h3, h4, h5, h6) {
  color: var(--accentcolor);
}

h2 {
  font-size: 2.5rem;
}

p {
  line-height: 2.5ch;
}

button {
  padding: 12px 16px;
  border-radius: var(--border-radius);
  background-color: var(--accentcolor);
  color: var(--bgcolor);
  border: none;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: var(--accentdarkcolor);
  }

  &:active {
    color: var(--accentcolor);
    background-color: transparent;
  }
}

button.outlined {
  background-color: transparent;
  border: 1px solid var(--accentcolor);
  color: var(--accentcolor);

  &:hover {
    background-color: #00ffff10;
  }

  &:active {
    border-color: transparent;
  }
}

button.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  svg {
    fill: currentColor;
    width: 20px;
  }
}

button.icon-wrapper {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 6px;
  color: inherit;

  &:active {
    background-color: #80808010;
  }

  svg {
    width: 25px !important;
    height: 25px !important;
  }
}
