.container {
  margin: 2rem 1rem;

  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;

    li {
      .company {
        font-size: large;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #00b6b6;
      }

      .periodLocation {
        font-weight: 600;
        font-size: small;
      }

      .description {
        margin: 0.5rem 0;
      }
    }
  }
}
