.container {
  margin: 2rem 1rem;

  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .timeline {
    position: relative;
    padding: 4rem 0;
    padding-left: 30px;

    .ruler {
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      width: 4px;
      border-radius: 5px;
      transform: translateX(-50%);
      background: linear-gradient(#6adab9, #7bc4bd, #81b2c2);
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4.5rem;
      margin: 0 1rem;

      li {
        .company {
          font-size: large;
          margin: 0.5rem 0;
          display: inline-flex;
          align-items: center;
          gap: 6px;
          position: relative;

          img {
            position: absolute;
            border: 3px solid var(--accentcolor);
            background-color: var(--bgcolor);
            border-radius: 50%;
            margin-top: -50px;
            margin-left: -32px;
            transform: translateX(-50%);
          }
        }

        .periodLocation {
          font-weight: 600;
          font-size: small;
        }

        .description {
          margin: 0.5rem 0;
        }

        .skillContainer {
          display: flex;
          flex-direction: row;
          gap: 1ch;
        }

        ul.skills {
          margin: 0;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          font-weight: 500;
          font-size: small;
          gap: 0;
          flex-wrap: wrap;

          li:not(:first-child)::before {
            content: "";
            margin: 0 1.5ch;
            display: inline-block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: var(--fgcolor);
          }
        }
      }
    }
  }
}
